<launch>
  <node pkg="diagnostic_aggregator" type="aggregator_node"
        name="diagnostic_aggregator" >
    <!-- Load the file you made above -->
    <rosparam command="load" 
              file="$(find diagnostics_schema)/analyzers.yaml" />
  </node>
  <node pkg="diagnostics_schema" type="host_alive.py" name="hosts_pinging" output="screen">
    <rosparam>
waittime: 0.5
pooling_time: 5.0
name_prefix: hosts
hostlist:
  raspberrypi: 192.168.2.221
  vicon_pc: 192.168.1.103
  rpi5-ubuntu: 192.168.1.3
  rpi5-silver-ubuntu: 192.168.1.4
  asusRouter: 192.168.2.1
  frkle-Predator-PT515-52: 192.168.2.39
clock_hosts:
  raspberrypi: 192.168.1.5
  rpi5-ubuntu: 192.168.1.3
  rpi5-silver-ubuntu: 192.168.1.4
  frkle-Predator-PT515-52: 192.168.2.39
    </rosparam>
  </node>
</launch>

